@model ProductViewModel

@{
    ViewData["Title"] = "Detail";
}

<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <!--<div class="img-big-wrap">
                            <div> <a href="#"><img src="images/items/15.jpg"></a></div>
                        </div>--> <!-- slider-product.// -->
                        <!--<div class="thumbs-wrap">
                            @foreach (var item in Model.ImageList)
                            {
                                <a href="#" class="item-thumb"> <img src="/Image/Products/Details/@item.ImagePath"></a>

                            }

                        </div>--> <!-- slider-nav.// -->
                        <div class="fotorama" data-loop="true" data-autoplay="true" data-shuffle="true" data-nav="thumbs">

                            @foreach (var item in Model.ImageList)
                            {
                                <img src="~/Image/Products/Details/@item.ImagePath" />
 
                             }


                        </div>
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">@Model.ProductInfo.ProductName</h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">132 reviews</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                    </div> <!-- rating-wrap.// -->



                    <table class="table table-striped">
                        <thead class="tb_price">
                            <tr>
                                <th>Color</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.PropertyList)
                            {
                                <tr>

                                    <td>@item.NameColor</td>
                                    <td> @item.UnitPriceNew.ToString("#,##0") <sup>VND</sup></td>
                                    <td>
                                        @if (item.Quantity > 0)
                                        {
                                            <span>Available </span>

                                        }
                                        else
                                        {
                                            <span>Out of stock</span>

                                        }
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>


                    <form id="myFormsizeChoose" novalidate="novalidate">
                        @{
                            int index = 0;
                        }
                        @foreach (var item in Model.PropertyList)
                        {
                            index++;
                            var IsAvailable = "false";
                            if (item.Quantity > 0)
                            {
                                IsAvailable = "true";
                            }

                            if (index == 1)
                            {
                                <text>
                                    <label class="pdsa-radiobutton btn btn-default">
                                        <input title="@item.UnitPriceNew.ToString("#,##0")" type="radio" checked data-hethang="@IsAvailable" 
                                               data-oldprice="@item.UnitPrice.ToString("#,##0")" data-quantity="@item.Quantity" name="sizeChoose" value="@item.Id">
                                        @item.NameColor
                                    </label>
                                </text>

                            }
                            else
                            {
                                <text>
                                    <label class="pdsa-radiobutton btn btn-default">
                                        <input title="@item.UnitPriceNew.ToString("#,##0")" type="radio" data-hethang="@IsAvailable" 
                                               data-oldprice="@item.UnitPrice.ToString("#,##0")" data-quantity="@item.Quantity" name="sizeChoose" value="@item.Id">
                                        @item.NameColor
                                    </label>
                                </text>

                            }


                        }


                    </form>

                    @{
                        var DisplayPrice = Model.PropertyList.First();

                    }


                    <div class="mb-3">
                        <var class="price h4">@DisplayPrice.UnitPriceNew.ToString("#,##0")</var><sup><b>vnd</b></sup>
                        <s class="text-muted"><span class="text-muted">@DisplayPrice.UnitPrice.ToString("#,##0")</span></s><sup class="text-muted">vnd</sup>
                    </div> <!-- price-detail-wrap .// -->

                    <p>
                        Short descriptions in here.
                    </p>


                    <dl class="row">
                        <dt class="col-md-3">Manufacturer</dt>
                        <dd class="col-md-9"> 
                                @if (!string.IsNullOrEmpty(Model.ProductInfo.SupplierName))
                                {
                                    <a href="#"> @Model.ProductInfo.SupplierName </a>
                                }
                                else
                                {
                                    <text> Updating</text>
                                }
                        </dd>

                        @*<dt class="col-sm-3">Article number</dt>
                            <dd class="col-sm-9">596 065</dd>*@

                        <dt class="col-sm-3">Guarantee</dt>
                        <dd class="col-sm-9">2 year</dd>

                        <dt class="col-sm-3">Delivery time</dt>
                        <dd class="col-sm-9">3-4 days</dd>

                        <dt class="col-sm-3">Availabilty</dt>
                        <dd class="col-sm-9">in Stock</dd>
                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button-minus"> − </button>
                                </div>
                                <input type="text" class="form-control" value="1" min="0" name="quantity" onchange="QtyChange(this)">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                </div>

                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" class="btn  btn-primary add-cart-btn">
                                <i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span>
                            </a>
                            <a href="#" class="btn btn-light">
                                <i class="fas fa-envelope"></i> <span class="text">Contact supplier</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->


    </div> <!-- container .//  -->
</section>

<section class="section-name padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">Description</h5>
                @Html.Raw(Model.ProductInfo.Description)
            </div> <!-- col.// -->

            <aside class="col-md-4">

                <div class="box">

                    <h5 class="title-description">Files</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h5 class="title-description">Videos</h5>


                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="images/posts/3.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">How to use this item</a></h6>
                            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
                        </div>
                    </article>

                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="images/posts/2.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
                            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
                        </div>
                    </article>

                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="images/posts/1.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
                            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
                        </div>
                    </article>



                </div> <!-- box.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $('input[name="sizeChoose"]').click(function () {
 
            var newPrice = $('input[name="sizeChoose"]:checked').attr("title");
            var oldPrice = $('input[name="sizeChoose"]:checked').data("oldprice");
            $('var').html(newPrice);
            $('span.text-muted').html(oldPrice);

            var currentQuantity = $('input[name="sizeChoose"]:checked').data("quantity")
            $("input[name='quantity']").val(1);
            var InputQuantity = $("input[name='quantity']").val();
            var ProductID = $('input[name="sizeChoose"]:checked').val();
           
      
            $(".add-cart-btn").attr("href", "/product/addcart/?id=" + ProductID + "&quantity=" + InputQuantity);
        });
        //#region Modify product quantity
        $('#button-plus').click(function () {
            var productQuantity = $('input[name="sizeChoose"]:checked').data("quantity");
            var currentQuantity = $("input[name='quantity']").val();
            if (parseInt(currentQuantity) < parseInt(productQuantity)) {
                currentQuantity = parseInt(currentQuantity) + 1;
                $("input[name='quantity']").val(currentQuantity);
                var InputQuantity = $("input[name='quantity']").val();
                var ProductID = $('input[name="sizeChoose"]:checked').val();
                $(".add-cart-btn").attr("href", "/product/addcart/?id=" + ProductID + "&quantity=" + InputQuantity);
            }
            return false;
        });
        
        $('#button-minus').click(function () {
            var currentQuantity = $("input[name='quantity']").val();
            if (parseInt(currentQuantity) > 1) {
                currentQuantity = parseInt(currentQuantity) - 1;
                $("input[name='quantity']").val(currentQuantity);
                var InputQuantity = $("input[name='quantity']").val();
                var ProductID = $('input[name="sizeChoose"]:checked').val();
                $(".add-cart-btn").attr("href", "/product/addcart/?id=" + ProductID + "&quantity=" + InputQuantity);
            }
            return false;
        });
        //#endregion

        //#region End Typing Event
        //setup before functions
        var typingTimer;                //timer identifier
        var doneTypingInterval = 600;  //time in ms
        var $input = $('input[name="quantity"]');

        //on keyup, start the countdown
        $input.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown 
        $input.on('keydown', function () {
            clearTimeout(typingTimer);
        });

        //user "finished typing," do something
        function doneTyping() {
            var quantityInput = $('input[name="quantity"]').val();
            var productQuantity = $('input[name="sizeChoose"]:checked').data("quantity");
            if (parseInt(productQuantity) < parseInt(quantityInput)) {
                $('input[name="quantity"]').val(productQuantity);
            }
            return false;
        }
        //#endregion
        var initInputQuantity = $("input[name='quantity']").val();
        var initProductID = $('input[name="sizeChoose"]:checked').val();
        $(".add-cart-btn").attr("href", "/product/addcart/?id=" + initProductID + "&quantity=" + initInputQuantity);
        
    });
    function QtyChange(obj) {
        debugger;
        var InputQuantity = $("input[name='quantity']").val();
        var ProductID = $('input[name="sizeChoose"]:checked').val();
        $(".add-cart-btn").attr("href", "/product/addcart/?id=" + ProductID + "&quantity=" + InputQuantity);

    }
   
</script>

}