
@{ ViewData["Title"] = "ListCart"; }


@{ var listCart = ViewBag.carts != null ? (List<CartModel>)ViewBag.carts : new List<CartModel>(); }
<div class="container">
    <h1>Shopping Cart</h1>
    <div class="list-cart">
        <table class="cart" border="1">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            @{ int STT = 0;
                foreach (var item in listCart)
                {
                    string txt_class = "quantity_" + item.Product.ID;
                    STT++;
                    double total = item.Product.UnitPriceNew * item.Quantity;
    <tr>
        <td>@STT</td>
        <td>@item.Product.ProductName</td>
        <td><img src="~/Image/Products/@item.Product.ImagePath" width="100" height="100" /></td>
        <td><input type="number" class="@txt_class" value="@item.Quantity" /></td>
        <td>@item.Product.UnitPriceNew.ToString("#,###") vnd</td>
        <td id="txt_class_total">@total.ToString("#,###") đ</td>
        <td><a href="" data-id="@item.Product.ID" class="updateCart">Update</a></td>
        <td><a asp-controller="Product" asp-action="deleteCart" asp-route-id="@item.Product.ID">Delete</a></td>
    </tr>
 } }
        </table>
    </div>
    <section class="section-content padding-y bg-white">
        <div class="container">

            <div class="row">
                <main class="col-md-9">
                    <div class="card">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted thead-dark" >
                                <tr class="small text-uppercase">
                                    <th scope="col" width="350">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="220">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listCart)
                                {
                                    string txt_class = "quantity_" + item.DetailProduct.Id;
                                    STT++;
                                    double total = item.DetailProduct.UnitPriceNew * item.Quantity;
                                <tr>
                                    <td>
                                        <figure class="itemside">
                                            <div class="aside"><img src="~/Image/Products/@item.Product.ImagePath" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title text-dark">@item.Product.ProductName</a>
                                                <p class="text-muted small">Color: @item.DetailProduct.NameColor@*, <br> Brand:@item.Product.SupplierName*@</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <input type="number" class="@txt_class form-control" min="1" value="@item.Quantity" />
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price" id="txt_class_total">@total.ToString("#,###")</var><br/>
                                            <small class="text-muted"> @item.DetailProduct.UnitPriceNew.ToString("#,###") <sup>vnd</sup> each </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    <td class="text-right">
                                        <a data-original-title="Update" title="" href="" class="btn btn-light updateCart" data-toggle="tooltip" data-id="@item.DetailProduct.Id">
                                        <i class="fas fa-sync-alt"></i></a>
                                        <a class="btn btn-light" asp-controller="Product" asp-action="deleteCart" asp-route-id="@item.DetailProduct.Id"> Remove</a>
                                    </td>
                                </tr>
                                            }
                            </tbody>
                        </table>

                        <div class="card-body border-top">
                            <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
                            <a href="/" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                        </div>
                    </div> <!-- card.// -->

                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                    </div>

                </main> <!-- col.// -->
                <aside class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Have coupon?</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="" placeholder="Coupon code">
                                        <span class="input-group-append">
                                            <button class="btn btn-primary">Apply</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- card-body.// -->
                    </div>  <!-- card .// -->
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right">USD 568</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Discount:</dt>
                                <dd class="text-right">USD 658</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right  h5"><strong>$1,650</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="images/misc/payments.png" height="26">
                            </p>

                        </div> <!-- card-body.// -->
                    </div>  <!-- card .// -->
                </aside> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
</div>
<script>
    $(document).ready(function () {

       
        $(".updateCart").click(function (event) {
            
            event.preventDefault();
            var quantity = $(".quantity_" + $(this).attr("data-id")).val();

            $.ajax({
                type: "POST",
                url:"@Url.Action("updateCart","Product")",
                data:
                {
                    Id: $(this).attr("data-id"),
                    Quantity: quantity
                },
                success: function (result) {
                window.location.href = '@Url.Action("ListCart","Product")';
                }
                });
        });
    })
</script>